* {
  box-sizing: border-box;
}

.left span i {
  color: #dfa5dc;
}
.left span {
  flex-direction: column;
}

.container {
  margin: auto;
  width: 75%;
  max-width: 1500px;
}

header {
  background-color: #f6d4f5;
}

header .container > nav a:hover {
  background-color: rgb(53, 50, 50);
  color: white;
  transition-duration: 0.2s;
  text-decoration: none;
  transition: all 0.2s ease;
}

header .container h2 br {
  position: absolute;
}

header h2 {
  background-color: #f6d4f5; 
  opacity: 0.8;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
}

nav a {
  text-decoration: none;
  color: black;
}

.topbar {
  background-color: rgb(0, 0, 0);
  color: rgb(160, 160, 160);
  text-align: center;
  padding: 1px;
}

#cart {
  position: absolute;
  top: 10%;
  right: 10%;
}

body {
  margin: auto;
  background-color: #f8f4f4;
}

main #slider h2 {
  background-color: #f6d4f5;
  position: absolute;
  opacity: 0.8;
}


#slider,
#select,
#new,
#best,
#crush {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}




#select {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
  
}

#select h1 {
    display: flex;
    flex-basis: 100%;
}




h3{
      font-family: "Courgette"; 
      text-align: center;
    }


#news small {font-family: "Courgette"; text-align:center; padding: 100px;
}

    #news {
      background-color: white;
      display: flex;
      justify-content: center;
      font-weight: 1.4em;
      
    }
    
    
    #new,
    #best,
    #crush {
      margin: 1%;
      background-color: white;
    }
    
    #new h2 {
      background-color: #e934bf;
       color: white;
    }
    
    #best h2 {
      background-color: #91bc48;
      color: white;}
    
    
    #crush h2 {
      background-color: #0398b0; 
      color:white;}
    
    
    
    #new h2, #best h2, #crush h2 {
        
        background-image: url(../img/logo4.png); 
        background-repeat: no-repeat;
        background-position: 10px center; 
        padding: 10px 40px; 
        font-weight: normal;
        text-align: left;
        font-size: 1.4em; 
        }

 #info {
          background-color: #dfa5dc;
          display: flex;
          justify-content: space-evenly;
          padding: 30px;
        }
        
#info article :hover {
          color: white;
          transition: all 0.2s ease;
          cursor: help;
        }

#info small {display: flex; text-align: center;}

#bottombar {
      background-color: #f6d4f5;
      justify-content:space-evenly;
      display: flex;
      color: black;
      list-style-type: none;}
    
#bottombar article ul {list-style-type: none;margin: 0%;
  padding: 0%;
}

@media screen and (max-widht: 640px) {

  }
